/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-container {
    width: 1080px;
    margin: 0 auto;
    @include sp {
        width: 100%;
        padding: 0 20px;
    }
    &__ex2 {
        width: 1400px;
        @include sp {
            width: 100%;
            padding: 0 15px;
        }
    }
    &__ex3 {
        width: 980px;
        @include sp {
            width: 100%;
            padding: 0 15px;
        }
    }
}