/*------------------------------------------------------------
img
------------------------------------------------------------*/

/* c-imgText1
------------------------------------------------------------*/
.c-imgText1 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	$root: &;

	@include sp {
		margin: 0 0 40px;
	}

	&--reverse {
		flex-direction: row-reverse;

		@include sp {
			flex-direction: row;
		}

		#{$root}__ttl {
			text-align: left;
			padding: 6px 170px 0 0;

			@include sp {
				padding: 40px 0 0;
			}

			h3 {
				margin: 0 0 16px;

				@include sp {
					margin: 0 0 20px;
				}
			}
		}
	}

	&__ttl {
		text-align: left;
		padding: 5px 0 0 155px;

		@include sp {
			width: 100%;
			padding: 40px 0 0;
		}

		h3 {
			font-size: 1.8rem;
			font-weight: normal;
			margin: 0 0 15px;

			@include sp {
				margin: 0 0 20px;
			}
		}

		p {
			font-size: 1.4rem;
		}
	}
}

/* c-imgText2
------------------------------------------------------------*/
.c-imgText2 {
	display: flex;
	justify-content: space-between;
	background: #eee;
    padding: 42px 40px;
    @include sp {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 15px;
    }

	&__ttl {
		text-align: left;
        padding: 0 50px 0 0;
        @include sp {
            padding: 0;
            margin-top: 30px;
        }

		h3 {
			margin: 0 0 27px;
			font-size: 2.6rem;
			color: #013046;
            font-weight: normal;
            @include sp {
                margin: 0 0 30px;
            }
		}

		time,
		p {
			font-size: 1.4rem;
            margin: 35px 0 0;
            @include sp {
                margin: 30px 0 15px;
            }
		}

		time {
            font-size: 1.6rem;
			img {
                margin: 0 11px 0 0;
                @include sp {
                    margin: 0 10px 0 0;
                }
			}
		}
	}
}
