/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
	$root: &;
	display: flex;
    flex-wrap: wrap;
    

	&__thumb {
		position: relative;
		width: 250px;
        margin: 0 26px 50px 0;
        @include sp {
            margin: 0;
            width: 47%;
        }

		&:nth-child(4n) {
            margin-right: 0;
        }
        
        &:nth-child(odd) {
            @include sp {
                margin: 0 13px 10px 0;
            }
        }

		&:hover {

			#{$root}__img,
			#{$root}__ttl {
				opacity: .8;
			}
		}
	}

	&__img {
		border: 1px solid #d4d4d4;
		padding: 4px 5px 4px 4px;
		margin: 0 0 7px;
        transition: all .3s ease-in-out;
        @include sp {
            padding: 2px 2px 2px 2px;
            margin: 0 0 3px;
        }

		img {
			max-width: 100%;
		}
	}

	&__ttl {
		transition: all .3s ease-in-out;

		p {
			font-size: 1.4rem;
			text-align: center;
			color: #222222;

			@include sp {
				font-size: 1.2rem;
			}
		}
	}

	&__link {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}




/*
------------------------------------------------------------*/
.c-list2 {
	$root: &;
	display: flex;
    flex-wrap: wrap;
    
    a{
    	text-decoration: none;	
    }

	&__thumb {
		position: relative;
		width: 250px;
        margin: 0 26px 50px 0;
        @include sp {
            margin: 0;
            width: 47%;
        }

		&:nth-child(4n) {
            margin-right: 0;
        }
        
        &:nth-child(odd) {
            @include sp {
                margin: 0 13px 10px 0;
            }
        }

		&:hover {

			#{$root}__img,
			#{$root}__ttl {
				opacity: .8;
			}
		}
	}

	&__img {
		border: 1px solid #d4d4d4;
		padding: 4px 5px 4px 4px;
		margin: 0 0 7px;
        transition: all .3s ease-in-out;
        @include sp {
            padding: 2px 2px 2px 2px;
            margin: 0 0 3px;
        }

		img {
			max-width: 100%;
		}
	}

	&__ttl {
		transition: all .3s ease-in-out;

		p {
			font-size: 1.4rem;
			text-align: center;
			color: #222222;

			@include sp {
				font-size: 1.2rem;
			}
		}
	}

}


/*
------------------------------------------------------------*/
.c-list3 {
	$root: &;
	display: flex;
    flex-wrap: wrap;
    

	&__thumb {
		cursor: pointer;
		position: relative;
		width: 250px;
        margin: 0 26px 50px 0;
        @include sp {
            margin: 0;
            width: 47%;
        }

		&:nth-child(4n) {
            margin-right: 0;
        }
        
        &:nth-child(odd) {
            @include sp {
                margin: 0 13px 10px 0;
            }
        }

		&:hover {

			#{$root}__img,
			#{$root}__ttl {
				opacity: .8;
			}
		}
	}

	&__img {
		border: 1px solid #d4d4d4;
		padding: 4px 5px 4px 4px;
		margin: 0 0 7px;
        transition: all .3s ease-in-out;
        @include sp {
            padding: 2px 2px 2px 2px;
            margin: 0 0 3px;
        }

		img {
			max-width: 100%;
		}
	}

	&__ttl {
		transition: all .3s ease-in-out;

		p {
			font-size: 1.4rem;
			text-align: center;
			color: #222222;

			@include sp {
				font-size: 1.2rem;
			}
		}
	}
}
