/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1 {
	table {
		border-collapse: collapse;
		width: 100%;
	}

	th,
	td {
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 22px 0 17px 40px;

		@include sp {
			display: block;
			font-size: 1.2rem;
			line-height: 3rem;
			padding: 0;
		}
	}

	th {
		text-align: left;
		width: 215px;
		vertical-align: top;
		border-right: 1px solid #d4d4d4;
		padding: 22px 0 17px 40px;
		background: #e7f5ff;
		color: #0361a7;
		font-weight: normal;

		@include sp {
			width: 100%;
			padding: 0 21px;
			border: none;
		}
	}

	td {
		width: calc(100% - 215px);
		background: #fff;
		color: #222222;

		@include sp {
            width: 100%;
            padding: 2px 21px 3px;
		}

		span {
			&:not(:last-child) {
				margin: 0 53px 0 0;

				@include sp {
					margin: 0;
				}
			}
		}
	}

	tr {
		border-top: 1px solid #d4d4d4;

		@include sp {
			border: 0;
		}

		&:last-child {
			border-bottom: 1px solid #d4d4d4;

			@include sp {
				border: 0;
			}
        }
        
        &:nth-child(4) {
            @include sp {
                line-height: 1.7rem;
                padding: 7px 21px 12px;
            }
        }
	}
}
