@charset "UTF-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

@font-face {  
	font-family: 'gidole-regular';  
	src: url('gidole-regular.woff2') format('woff2'),  
		 url('gidole-regular.woff') format('woff');  
	font-weight: normal;
	font-style: normal;
} 
 
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a:link {
  color: #002145;
  text-decoration: none;
}

a:visited {
  color: #7E8EA3;
  text-decoration: none;
}

a:hover {
  color: #7E8EA3;
  text-decoration: underline;
}

a:active {
  color: #7E8EA3;
  text-decoration: underline;
}

a[href^="tel:"] {
	cursor: default;
	pointer-events: none;
}

@media all and (min-width: 0) and (max-width: 736px) {
	a:link {
	  color: #002145;
	  text-decoration: none;
	}

	a:visited {
	  color: #002145;
	  text-decoration: none;
	}

	a:hover {
	  color: #002145;
	  text-decoration: underline;
	}

	a:active {
	  color: #002145;
	  text-decoration: underline;
	}
}

/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/
/* テキストの位置 */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* フォントの太さ */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	微調整用クラス（※多用しないこと）
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
  min-width: 1000px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  color: #191919;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

#container {
  padding-top: 76px;
  background-color: #fff;
  text-align: left;
}

#main {
	margin-bottom: 50px;
}

#main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#header {
	min-width: 1000px;
	padding: 20px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #F6F6F4;
	z-index: 1000;
}

#header h1 {
	padding: 1px 0 0 2.8%;
	float: left;
}

#header .hLink {
	width: 18.5%;
	padding-right: 4%;
	float: right;
	font-size: 12px;
}

@media all and (max-width: 1304px) {
	#header .hLink {
		width: 23.7%;
	}
}


#header .hLink a.button {
	padding: 8px 0 9px 15px;
	display: block;
	color: #fff;
	text-align: center;
	position: relative;
	background: #073145 url(../img/common/icon01.png) no-repeat 13px center;
}

#header .hLink a.button:before {
	margin-top: -5px;
	width: 5px;
	height: 10px;
	background: url(../img/common/icon02.png) no-repeat left top;
	position: absolute;
	top: 50%;
	right: 12px;
	content: ""; 
}
	
#header .hLink a:hover {
	text-decoration: none;
}


.reserve > li.menuReserve {
    position: relative;
    margin: 0;
	padding: 0;
	text-align: center;
}

.reserve li.menuReserve > li a {
    display: block;
    color: #fff;
}

li.menuReserve ul.inner {
	width: 100%;
    position: absolute;
    top: 30px;
    background: #073145;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    visibility: hidden;
    opacity: 0;
}

li.menuReserve ul.inner li {
	width: 100%;
	color: #fff;
	border-top: 1px solid #fff;
	text-align: center;
}

li.menuReserve ul.inner li:first-child {
	border-top: 0;
}


li.menuReserve ul.inner li a {
	width: 100%;
	padding: 9px 0 8px;
	color: #fff;
	display: block;
}

li.menuReserve ul.inner li:hover > a {
    background: #35586C;
}

li.menuReserve:hover ul.inner {
    top: 37px;
    visibility: visible;
    opacity: 1;
}


.menuBox {
	display: none;
}

#header .rBox {
	float: right;
	width: 68.5%;
}

/*------------------------------------------------------------
	グローバルナビ
------------------------------------------------------------*/
#gNavi {
	margin-top: 6px;
	float: left;
	width: 77%;
}

@media all and (max-width: 1304px) {
	#gNavi {
		width: 72%;
	}
}

@media all and (max-width: 1052px) {
	#gNavi {
		width: 70%;
	}
}

#gNavi li {
	padding-left: 3.2%;
	display: inline-block;
	/*font-weight: bold;*/
	font-weight: 400;
}

@media all and (max-width: 1304px) {
	#gNavi li {
		padding-left: 2%;
	}
}

#gNavi li:first-child {
	padding: 0;
}

#gNavi li a {
	color: #002145;
}

#gNavi li a:hover {
	color: #7E8EA3;
	text-decoration: none;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#footer {
	padding: 40px 0;
	text-align: center;
	background-color: #023046;
}

#footer .fLogo {
	margin-bottom: 25px;
}

#footer p {
	margin-bottom: 12px;
	color: #fff;
	font-size: 13px;
	line-height: 1.6;
}

#footer .link {
	margin: 0;
}

#footer .link a {
	padding-left: 12px;
	display: inline-block;
	font-size: 12px;
	background: url(/img/common/icon02.png) no-repeat left center;
}

#footer p a {
  color: #fff;
}

#footer p a:visited {
  color: #fff;
  text-decoration: none;
}

#footer p a:hover {
  color: #7E8EA3;
  text-decoration: underline;
}

#footer p a:active {
  color: #7E8EA3;
  text-decoration: underline;
}

#footer .copyright {
	margin: 30px 0 0;
	font-size: 12px;
}

#footer .pageTop {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
}

#footer p .pc {
	display: inline !important;
}

#main .mainBox {
	margin: 0 auto;
	width: 980px;
}

/*------------------------------------------------------------
	mainVisual
------------------------------------------------------------*/
#main .mainVisual {
	margin-bottom: 60px;
	padding: 20px 40px 0;
	height: 460px;
	box-sizing: border-box;
	background: url(/img/about/main_visual_bg.jpg) no-repeat center center;
	background-size: cover;
}

/*------------------------------------------------------------
	comTelBox
------------------------------------------------------------*/
#main .comTelBox {
	padding: 30px 0 0;
	width: 244px;
	height: 244px;
	box-sizing: border-box;
	float: right;
	text-align: center;
	border-radius: 50%;
	background: url(/img/common/com_bg01.png) repeat;
}

#main .comTelBox dl {
	margin-bottom: 30px;
}

#main .comTelBox dt {
	margin-bottom: 10px;
}

#main .comTelBox dt span {
	margin-top: 10px;
	display: block;
	color: #002145;
	font-weight: bold;
}

#main .comTelBox dd a {
	text-decoration: none;
}

/*------------------------------------------------------------
	comLink
------------------------------------------------------------*/
.comLink {
	font-size: 18px;
}

.comLink a {
	padding: 10px 0 10px 15px;
	display: block;
	color: #fff;
	text-align: center;
	position: relative;
	background: #073145 url(../img/common/icon01.png) no-repeat 30px center;
	border-radius: 2px;
}

.comLink a:before {
	margin-top: -7px;
	width: 7px;
	height: 13px;
	background: url(../img/common/icon05.png) no-repeat left top;
	position: absolute;
	top: 50%;
	right: 25px;
  
	content: ""; 
}
	
.comLink a:hover {
	text-decoration: none;
	background-color: #35586C;
}

/*------------------------------------------------------------
	comContact
------------------------------------------------------------*/
.comContact {
	padding-left: 40px;
	background-color: #E5E9EC;
}

.comContact .photo {
	float: right;
}

.comContact .textBox {
	margin-top: 30px;
	float: left;
	width: 594px;
}

.comContact .textBox .ttl {
	margin-bottom: 27px;
	padding: 7px 0;
	color: #002C46 !important;
	font-size: 16px;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
}

.comContact .textBox ul li {
	float: left;
	width: 270px;
}

.comContact .textBox ul li:first-child {
	margin-right: 37px;
	padding-right: 13px;
	border-right: 1px solid #fff;
}

.comContact .textBox ul li p {
	margin-bottom: 16px;
	color: #002C46 !important;
}

.comContact .textBox ul li:first-child p {
	margin-bottom: 27px;
}

.sp {
	display: none !important;
}

@media all and (min-width: 737px) {
	.menuBox {
		display: none !important;
	}
}

@media all and (min-width: 0) and (max-width: 736px) {

	.sp {
		display: block !important;
	}
	
	.pc {
		display: none !important;
	}
	
	#container {
		padding-top: 42px;
	}
	
	a[href^="tel:"] {
		cursor: pointer;
		pointer-events: auto;
	}
	
	body {
		min-width: inherit;
		font-size: 14px;
		text-size-adjust: none; 
		-webkit-text-size-adjust: none; 
	}
	
	#gNavi {
		display: none;
	}
	
	#header {
		padding: 12px 0;
		min-width: inherit;
		border-bottom: 1px solid #ddd;
	}
	
	#header .hLink {
		display: none;
	}
	
	#header h1 {
		padding: 0;
		margin: 0;
		float: none;
		text-align: center;
	}
	
	#header h1 img {
		width: 124px;
		height: auto;
	}
	
	#header .menu {
		position: absolute;
		top: 12px;
		right: 13px;
	}
	
	#header .menu img {
		width: 21px;
		height: auto;
	}
	
	#header .menu .close {
		display: none;
	}
	
	#header .menu.on .on {
		display: none;
	}
	
	#header .menu.on .close {
		display: block;
	}
	
	.menuBox {
		max-height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		display: none;
		overflow-y: auto;
		background-color: #E5E9EC;
	}
	
	.menuBox .menuUl {
		margin: 42px 0 20px;
	}
	
	.menuBox .menuUl li {
		border-bottom: 1px solid #fff;
	}
	
	.menuBox .menuUl li a {
		padding: 10px 12px;
		display: block;
		background: url(/img/common/icon04.png) no-repeat 95% center;
		background-size: 5px auto;
		text-decoration: none;
	}
	
	.menuBox .hUl {
		margin: 0 12px 20px;
		font-size: 18px;
		line-height: 1.2;
		text-align: center;
	}
	
	.menuBox .hUl div {
		padding: 15px;
		display: block;
		background-color: #fff;
		text-decoration: none;
		margin-bottom: 15px;
		overflow: hidden;
	}
	
	.menuBox .hUl dt img {
		height: 29px;
		width: auto;
	}
	
	.menuBox .hUl dl {
		margin: 0 auto;
		display: table;
		text-align: center;
	}
	
	.menuBox .hUl dt {
	    display: table-cell;
	}
	
	.menuBox .hUl dd {
		display: table-cell;
		padding-left: 10px;
		vertical-align: middle;
	}
	
	.menuBox .hUl div li {
		font-size: 14px;
		margin-top: 15px;
		margin-right: 4%;
		padding: 15px 4%;
		float: left;
		width: 40%;
		text-align: center;
		background-color: #E5E9EC;
	}
	
	.menuBox .hUl div li:nth-child(2) {
		margin-right: 0;
	}
	
	.menuBox .hUl a {
		 text-decoration: none;
	}
	
	
	#main .mainBox {
		margin: 0 13px;
		width: auto;
	}
	
	#footer {
		padding: 0 0 17px;
		position: relative;
	}
	
	#footer .pageTop {
		width: 100%;
		position: static;
	}

	#footer .pageTop a {
		padding: 12px 0 13px;
		display: block;
		background-color: #fff;
	}
	
	#footer .pageTop img {
		margin-left: 3px;
		width: 10px;
		height: auto;
		vertical-align: middle;
	}
	
	#footer .fLogo img {
		width: 137px;
		height: auto;
	}
	
	#footer .fLogo {
		margin-top: 30px;
		margin-bottom: 23px;
	}

	#footer p {
		margin-bottom: 10px;
		font-size: 13px;
	}
	
	#footer p .pc {
		display: none !important;
	}
	
	#footer .link a {
		font-size: 12px;
	}
	
	#footer .copyright {
		margin-top: 20px;
		font-size: 11px;
	}
	
	/*------------------------------------------------------------
		mainVisual
	------------------------------------------------------------*/
	#main .mainVisual {
		margin-bottom: 43px;
		padding: 12px 12px 0;
		height: 214px;
		box-sizing: border-box;
		background: url(/img/about/sp_main_visual_bg.jpg) no-repeat center center;
		background-size: cover;
	}
	
	/*------------------------------------------------------------
		comTelBox
	------------------------------------------------------------*/
	#main .comTelBox {
		padding: 16px 0 0;
		width: 125px;
		height: 125px;
	}
	
	#main .comTelBox dl {
		margin-bottom: 14px;
	}
	
	#main .comTelBox dt {
		margin-bottom: 6px;
		line-height: 1;
	}
	
	#main .comTelBox dt img {
		width: 13px;
		height: auto;
	}
	
	#main .comTelBox dt span {
		margin-top: 2px;
		font-size: 7px;
		font-weight: normal;
	}

	#main .comTelBox dd {
		line-height: 1;
	}
	
	#main .comTelBox dd a {
		text-decoration: none;
	}
	
	#main .comTelBox dd a img {
		width: 85px;
		height: auto;
	}
	
	#main .comTelBox p {
		margin: 0 7px;
	}
	
	#main .comTelBox p img {
		width: 100%;
		height: auto;
	}

	/*------------------------------------------------------------
		comContact
	------------------------------------------------------------*/
	#footer .comContact {
		padding: 25px 13px;
	}
	
	#footer .comContact .photo {
		display: none;
	}
	
	#footer .comContact .textBox {
		margin: 0;
		float: none;
		width: auto;
	}
	
	#footer .comContact .textBox .ttl {
		margin-bottom: 22px;
		padding: 9px 0 8px;
		font-size: 14px;
		line-height: 1.6;
		border-radius: 50px;
	}
	
	#footer .comContact .textBox ul li {
		margin-top: 21px;
		float: none;
		width: auto;
		text-align: center;
	}
	
	#footer .comContact .textBox ul li:first-child {
		margin: 0;
		padding: 0;
		border: none;
	}
	
	#footer .comContact .textBox ul li:first-child p {
		margin-bottom: 10px;
	}
	
	#footer .comContact .textBox ul li .tel img {
		width: 204px;
		height: auto;
	}
	
	#footer .comContact .textBox ul li p {
		margin-bottom: 13px;
		font-size: 14px;
	}
	
	/*------------------------------------------------------------
		comLink
	------------------------------------------------------------*/
	.comLink {
		font-size: 18px;
	}
	
	.comLink a {
		padding: 8px 0 8px 15px;
		background-size: 16px auto;
		background-position: 18% center;
	}
	
	.comLink a:before {
		margin-top: -5px;
		background-size: 5px 10px;
		width: 5px;
		height: 10px;
		right: 16%;
	}
	
}