@charset "UTF-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
#main {
	margin: 0;
}

#main #slider {
	position: relative;
	background-color: #F6F6F4;
}

#main #slider .loader {
	margin: -23px 0 0 -170px;
	position: absolute;
	left: 50%;
	top: 50%;
}

#main .sliderBox {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#main .sliderBox .arrow {
	margin-left: -14px;
	display: none;
	position: absolute;
	left: 50%;
	bottom: 24px;
}

#main .sliderBox .comTelBox {
	display: none;
	float: none;
	position: absolute;
	top: 20px;
	right: 40px;
}

#main #news01 {
	min-height: 50px;
	background-color: #F6F6F4;
}

#main #news01 .contentBox {
	padding: 13px 0 13px 2.8%;
	background-color: #023046;
}

#main #news01 h2 {
	padding: 4px 20px 3px 0;
	float: left;
	border-right: 1px solid #4E6F7E;
}

#main #news01 p {
	padding-left: 110px;
}

#main #news01 p a {
	color: #fff;
}

#main .newsBox {
	margin-bottom: 60px;
	padding: 60px 0;
	background-color: #F6F6F4;
}

#main #news02 {
	margin: 0 auto;
	width: 980px;
}

#main #news02 h2 {
	margin-bottom: 30px;
}

#main #news02 h2 a {
	margin-top: 7px;
	padding-right: 15px;
	display: block;
	color: #013046;
	float: right;
	font-weight: normal;
	background: url(/img/common/icon04.png) no-repeat right center;
}

#main #news02 dl {
	border-top: 1px solid #E3E1DD;
}

#main #news02 dt {
	padding-top: 25px;
	color: #013046;
	float: left;
}

#main #news02 dd {
	padding: 25px 0 25px 7.7em;
	border-bottom: 1px solid #E3E1DD;
}

#main #news02 dd a {
	color: #191919;
}

#main .inner {
	margin: 0 auto 60px;
	width: 980px;
}

#main #time {
	float: left;
	width: 634px;
}

#main .inner h2 {
	margin-bottom: 20px;
}

#main #time table {
	margin-bottom: 20px;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #E3E1DD;
}

#main #time table td,
#main #time table th {
	padding: 20px 0 20px 28px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #E3E1DD;
}

#main #time table thead td,
#main #time table thead th {
	color: #013046;
	border: none;
}

#main #time table th {
	width: 41.9%;
}

#main #time table td {
	padding: 0;
	width: 8.3%;
	text-align: center;
}

#main #time table th span {
	margin-bottom: 10px;
	display: block;
	font-size: 16px;
}

#main #time .note {
	margin-top: 20px;
	font-size: 12px;
}

#main #calendar {
	float: right;
	width: 288px;
}

#main #calendar h2 span {
	display: block;
	float: right;
	font-size: 12px;
	font-weight: normal;
}

#main #calendar h2 span img {
	margin-right: 10px;
	vertical-align: middle;
}

#main #calendar table.bizcal {
	width: 100%;
	border-collapse: collapse;
}

#main #calendar table.bizcal td,
#main #calendar table.bizcal th {
	padding: 10px 0;
	font-weight: normal;
	font-family: 'gidole-regular';
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #E3E1DD;
}

#main #calendar table.bizcal td.calmonth {
	padding: 5px 10px 5px 8px;
	color: #0C0000;
	font-size: 10px;
	text-align: left;
}

#main #calendar table.bizcal th {
	padding: 6px 0;
	font-size: 10px;
	font-weight: normal;
}

#main #calendar table.bizcal .dateRow td {
	width: 14.28%;
	font-weight: bold;
}

#main #calendar table.bizcal td.calmonth .num {
	margin-right: 5px;
	font-size: 30px;
}

#main #calendar table.bizcal td.calmonth .link {
	margin-top: 9px;
	float: right;
}

#main #calendar table.bizcal td.calmonth .link .pc {
	display: inline-block !important;
}

#main #calendar table.bizcal td.calmonth .link .sp {
	display: none !important;
}

#main #calendar table.bizcal td.calmonth a {
	margin-left: 20px;
}

#main #calendar table.bizcal .sun,
#main #calendar table.bizcal .dateRow td:first-child {
	color: #A93431;
}

#main #calendar table.bizcal .sat,
#main #calendar table.bizcal .dateRow td:last-child {
	color: #0085B2;
}

#main #calendar table.bizcal .holiday {
	background-color: #E5E9EC;
}

#footer {
	padding-top: 0;
}

#footer .fBox {
	padding-bottom: 60px;
	background-color: #FFF;
}

#footer .fBox .comContact {
	margin: 0 auto;
	width: 940px;
}

#footer .fBox .comContact p {
	margin-bottom: 27px;
	font-size: 16px;
}

#footer .fBox .comContact li {
	text-align: left;
}

#footer .fBox .comContact li p {
	margin-bottom: 16px;
	font-size: 14px;
}

#footer .fBox .comContact li:first-child p {
	margin-bottom: 27px;
}

#footer .map {
	margin-bottom: 40px;
	position: relative;
	text-align: right;
}

#footer #map_canvas {
	width: 100%;
	height: 400px;
}

#footer .map .link {
	position: absolute;
	top: 40px;
	right: 40px;
}

#footer .map .link a {
	padding: 9px 15px;
	display: block;
	color: #002443;
	background-color: #fff;
}

#footer .map .link img {
	margin: -4px 0 0 9px;
	vertical-align: middle;
}

#footer .map .link a:hover {
	text-decoration: none;
	background-color: #E5E9EC;
}

#footer .link.aos-init a,#footer .link.aos-init a:hover {
    background-image: none;
}

@media all and (min-width: 0) and (max-width: 736px) {

	#main h2 {
		text-align: center;
	}

	#main h2 img {
		height: 15px;
		width: auto;
	}

	#main .mainImg img {
		width: 100%;
		height: auto;
	}

	#main #slider {
		height: 281px !important;
	}

	#main #slider .loader {
		margin-left: -125px;
	}

	#main #slider .loader img {
		width: 250px;
		height: auto;
	}

	#main .sliderBox .comTelBox {
		display: none;
		top: 12px;
		right: 12px;
	}

	#main .sliderBox .foo li img {
		width: 100%;
		height: auto;
	}

	#main .sliderBox .arrow {
		display: none !important;
	}

	#main #news01 {
		display: none;
	}

	#main .newsBox {
		margin-bottom: 42px;
		padding: 42px 12px 40px;
	}

	#main #news02 {
		width: auto;
	}

	#main #news02 h2 {
		margin-bottom: 27px;
		text-align: center;
	}

	#main #news02 h2 a {
		display: none;
	}

	#main #news02 dl {
		margin-bottom: 20px;
		font-size: 12px;
	}

	#main #news02 dt {
		padding-top: 7px;
		float: none;
	}

	#main #news02 dd {
		padding: 2px 0 11px;
	}

	#main #news02 .link {
		text-align: right;
	}

	#main #news02 .link a {
		padding-right: 13px;
		display: inline-block;
		color: #013046;
		font-weight: normal;
		background: url(/img/common/icon04.png) no-repeat right center;
		background-size: 6px auto;
	}

	#main .inner {
		margin: 0 12px 40px;
		width: auto;
	}

	#main #time {
		margin-bottom: 40px;
		float: none;
		width: auto;
	}

	#main #time h2 {
		margin-bottom: 26px;
	}

	#main #time h2 img {
		height: 16px;
	}

	#main #time table {
		margin-bottom: 20px;
	}

	#main #time table th span {
		font-size: 14px;
	}

	#main #time table tbody th {
		font-size: 11px;
	}

	#main #time table td,
	#main #time table th {
		padding: 10px 0 13px 10px;
	}

	#main #time table td {
		padding: 10px 0 13px;
		width: 8%;
	}

	#main #time table th {
		width: 44%;
	}

	#main #time .note {
		margin-top: 10px;
		padding-left: 2em;
		text-indent: -2em;
		font-size: 12px;
	}

	#main #calendar {
		float: none;
		width: auto;
	}

	#main #calendar h2 {
		margin-left: 50px;
	}

	#main #calendar table.bizcal td.calmonth {
		font-size: 12px;
	}

	#main #calendar table.bizcal td.calmonth .link .pc {
		display: none !important;
	}

	#main #calendar table.bizcal td.calmonth .link .sp {
		display: inline-block !important;
	}

	#main #calendar table.bizcal td.calmonth .link img {
		width: 9px;
		height: auto;
	}

	#main #calendar table.bizcal td.calmonth .link {
	    margin-top: 6px;
	}

	#main #calendar table.bizcal th {
		padding: 9px 0;
	}

	#main #calendar table.bizcal td.dateRow {
		padding: 6px 0;
		font-size: 16px;
	}

	#footer .fBox {
		padding-bottom: 0;
		background-color: #E5E9EC;
	}

	#footer .fBox .comContact {
		width: auto;
	}

	#footer .fBox .comContact p {
		margin-bottom: 22px;
		font-size: 14px;
	}

	#footer .fBox .comContact li {
		text-align: center;
	}

	#footer .fBox .comContact li p {
		margin-bottom: 13px;
		font-size: 12px;
	}

	#footer .fBox .comContact li:first-child p {
		margin-bottom: 10px;
	}

	#footer .map {
		margin-bottom: 0;
		padding-bottom: 18px;
		background-color: #E5E9EC;
	}

	#footer #map_canvas {
		width: 100%;
		height: 256px;
	}

	#footer .map .link {
		margin: 18px 13px 0;
		position: inherit;
		top: auto;
		right: auto;
		text-align: center;
	}

	#footer .map .link a {
		padding: 10px 15px 11px;
		font-size: 14px;
	}

	#footer .map .link a:hover {
		background: #FFF;
	}

	#footer .map .link img {
		width: 5px;
		height: auto;
	}

}